{% trans_default_domain 'kalamu' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ 'cms_admin.ElFinder.show.File_selector'|trans }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />

        <link href="{{ asset("#{prefix}/jquery-ui/themes/base/jquery-ui.min.css") }}" rel="stylesheet" type="text/css">
        <link href="{{ asset("#{prefix}/jquery-ui/themes/base/jquery-ui.structure.min.css") }}" rel="stylesheet" type="text/css">
        <link href="{{ asset("#{prefix}/jquery-ui/themes/base/jquery-ui.theme.min.css") }}" rel="stylesheet" type="text/css">
        <link href="{{ asset("#{prefix}/elfinder/dist/css/elfinder.min.css") }}" rel="stylesheet" type="text/css">
        <link href="{{ asset("#{prefix}/elfinder/dist/css/theme.css") }}" rel="stylesheet" type="text/css">


        <script src="{{ asset("#{prefix}/jquery/jquery.min.js") }}"></script>
        <script src="{{ asset("#{prefix}/jquery-ui/jquery-ui.min.js") }}"></script>
        <script src="{{ asset("#{prefix}/elfinder/dist/js/elfinder.min.js") }}"></script>
        <script src="{{ asset("#{prefix}/elfinder/dist/js/i18n/elfinder.fr.js") }}"></script>

        <script type="text/javascript" charset="utf-8">
            var FileBrowserDialogue = {
              init: function() { },
              mySubmit: function (file, elf) {
                // pass selected file data to TinyMCE
                parent.tinymce.activeEditor.windowManager.getParams().oninsert(file, elf);
                // close popup window
                parent.tinymce.activeEditor.windowManager.close();
              }
            }
            $(document).ready(function () {
                var elf = $('#elfinder').elfinder({
                    url : '{{path('ef_connect', { 'instance': 'docs_cms' } )}}',
                    lang : 'fr',
                    getFileCallback: function(file) {
                        FileBrowserDialogue.mySubmit(file, elf);
                    }
                }).elfinder('instance');
            });
        </script>
    </head>
    <body>
        <div id="elfinder"></div>
    </body>
</html>