<div class="col-md-12">
    {% if status and message %}
        <div class="alert alert-{{status == 'success' ? 'success' : 'danger'}}">{{message}}</div>
    {% endif %}
    {{form_start(form)}}
    {{form_rest(form)}}
    <button type='submit'>Submit</button>
    {{form_end(form)}}
</div>