{% trans_default_domain 'kalamu' %}

<div class="col-md-12 pn">
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{ 'Last published contents'|trans }}</span>
    </div>
    <div class="panel-body pn">

        <table class="table mbn">
            <thead>
                <tr class="hidden">
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Publication date'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for content in contents %}
                <tr>
                    <td class="va-m fw600 text-muted"><a href="{{manager.getPublicReadLink(content)}}">{{content}}</a></td>
                    <td class="text-right"><span class="label label-success">{{content.publishedAt ? content.publishedAt|date('d-m-Y H:i') : ''}}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
</div>