
{% form_theme form with ['SonataAdminBundle:Form:form_admin_fields.html.twig'] %}

<div class="widget-form text-left">
    {{ form_start(form) }}

    {{form_row(form.selectable_destinataire)}}
    <div id="destinataire_simple">
        {{form_row(form.destinataire_simple)}}
    </div>
    <div id="choix_destinataire">
        {{form_row(form.label_choix_destinataire)}}
        {{form_row(form.choix_destinataire)}}
    </div>
    {{form_row(form.success)}}
    {{form_row(form.error)}}

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

<script type="text/javascript">
$(function(){
    $('#{{form.selectable_destinataire.vars.id}}').change(function(e){
        if($(this).val() == 1){
            $('#destinataire_simple').hide();
            $('#choix_destinataire').show();
        }else{
            $('#destinataire_simple').show();
            $('#choix_destinataire').hide();
        }
    }).trigger('change');

    var handleCollection = function(){
        addBtns = $('a[data-collection-add-btn]').not('.handleCollectionReadyAdd').addClass('handleCollectionReadyAdd');
        addBtns.each(function(){
            $(this).attr('data-iterator', $( $(this).attr('data-collection-add-btn') ).find('>div>.collection-item').length);
        });
        addBtns.text('Ajouter').click(function(e){
            e.preventDefault();
            protoDiv = $( $(e.target).attr('data-collection-add-btn') );
            $(e.target).attr('data-iterator', parseInt($(e.target).attr('data-iterator')) +1 );
            protoHtml = protoDiv.attr('data-prototype')
                    .replace( new RegExp(protoDiv.attr('data-prototype-label'), 'g'), $(e.target).parent()[0].childNodes[0].nodeValue.replace('*', '')+' '+$(e.target).attr('data-iterator') )
                    .replace( new RegExp(protoDiv.attr('data-prototype-name'), 'g'), $(e.target).attr('data-iterator') );
            $( protoHtml )
                    .find('a[data-collection-remove-btn]').each(function(){
                        $(this).parents('.collection-item').eq(0).find('>label').removeClass('col-sm-3').addClass('col-sm-12').append( $(this).detach() );
                    })
                    .end()
                    .appendTo( protoDiv.find('>div') );
            handleCollection();
        });

        delBtns =  $('a[data-collection-remove-btn]').not('.handleCollectionReadyDel').addClass('handleCollectionReadyDel');
        delBtns.text('Supprimer').click(function(e){
            e.preventDefault();
            $(e.target).parents('.collection-item').eq(0).remove();
        });
    };

    handleCollection();

});
</script>
<style>
.collection-item, .collection-item .control-label{text-align: left; clear: both;}
.collection-item label{text-align: left;}
.collection-item .control-label.col-sm-3{width: 100%}
#collectionform_choix_destinataire_form_group .col-md-10.col-md-offset-1.col-xs-12{width:100%}
</style>