{% trans_default_domain 'kalamu' %}

{% form_theme form with ['SonataAdminBundle:Form:form_admin_fields.html.twig'] %}

<div class="widget-form text-left">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{form_row(form.selectable_recipient)}}
    <div id="simple_recipient">
        {{form_row(form.simple_recipient)}}
    </div>
    <div id="recipient_choice">
        {{form_row(form.recipient_choice_label)}}
        {{form_row(form.recipient_choice)}}
    </div>
    {{form_row(form.success)}}
    {{form_row(form.error)}}

    <hr />
    <div><button type="submit" class="btn btn-success">{{ 'Add'|trans }}</button></div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

<script type="text/javascript">
$(function(){
    $('#{{form.selectable_recipient.vars.id}}').change(function(e){
        if($(this).val() == 1){
            $('#simple_recipient').hide();
            $('#recipient_choice').show();
        }else{
            $('#simple_recipient').show();
            $('#recipient_choice').hide();
        }
    }).trigger('change');

    $(document).trigger('sonata-admin-append-form-element');
});
</script>
<style>
.collection-item, .collection-item .control-label{text-align: left; clear: both;}
.collection-item label{text-align: left;}
.collection-item .control-label.col-sm-3{width: 100%}
#collectionform_recipient_choice_form_group .col-md-10.col-md-offset-1.col-xs-12{width:100%}
</style>