
{% form_theme form with ['SonataAdminBundle:Form:form_admin_fields.html.twig'] %}

<div class="widget-form text-left">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{form_row(form.selectable_destinataire)}}
    <div id="destinataire_simple">
        {{form_row(form.destinataire_simple)}}
    </div>
    <div id="choix_destinataire">
        {{form_row(form.label_choix_destinataire)}}
        {{form_row(form.choix_destinataire)}}
    </div>
    {{form_row(form.success)}}
    {{form_row(form.error)}}

    <hr />
    <div><button type="submit" class="btn btn-success">Ajouter</button></div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

<script type="text/javascript">
$(function(){
    $('#{{form.selectable_destinataire.vars.id}}').change(function(e){
        if($(this).val() == 1){
            $('#destinataire_simple').hide();
            $('#choix_destinataire').show();
        }else{
            $('#destinataire_simple').show();
            $('#choix_destinataire').hide();
        }
    }).trigger('change');

    $(document).trigger('sonata-admin-append-form-element');
});
</script>
<style>
.collection-item, .collection-item .control-label{text-align: left; clear: both;}
.collection-item label{text-align: left;}
.collection-item .control-label.col-sm-3{width: 100%}
#collectionform_choix_destinataire_form_group .col-md-10.col-md-offset-1.col-xs-12{width:100%}
</style>