{% form_theme form with ['RohoCoreBundle:Form:fields.html.twig', 'RohoExtraFormBundle:Form:fields.html.twig'] %}

{% set uid = 'isotop-'~uniqid() %}
<div class="widget-form col-md-12" id="{{uid}}">
    {{ form_start(form) }}

    {{form_row(form.title)}}

    <div class="form-group text-left">
        <label class="center-block text-left required">Elements <span class="asterisk">*</span></label>
        {{form_widget(form.elements)}}
    </div>
    <div class="clearfix mb15"></div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
<script src="{{ asset("/bundles/rohocms/js/jquery.rohoCollectionItemsForm.js") }}"></script>
<script type="text/javascript">
$(function(){
    $('#collectionform_elements_form_group').rohoCollectionItemsForm({
        nb_elements: '{{form.elements|length}}',
        item_label: 'Element',
        display_label: false
    });
});  
</script>
<style type="text/css">
{#    .collection-item>label{ display: none; }#}
    #{{uid}} .collection-item{ overflow: hidden; background: #ddd; margin-bottom: 2em; padding: 1em; }
    #collectionform_elements_form_group { max-height: 500px; overflow-y: auto; }
</style>